<ion-header class="animate__animated animate__fadeIn">
  <ion-toolbar>
    <ion-item>
      <ion-icon name="arrow-back-circle" class="back"
                (click)="volver()"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="location$ | async as location" class="animate__animated animate__fadeIn">
  <ion-row class="fondo">
    <ion-col>

      <app-location-card-detail
        [location]="location">
      </app-location-card-detail>
      
    </ion-col>
  </ion-row>
</ion-content>