.titulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: start;

    color: greenyellow;

    text-shadow:
   -3px -3px 0 #000,
    3px -3px 0 #000,
   -3px 3px 0 #000,
    3px 3px 0 rgb(0, 0, 0);

    padding-top: 15px;
}

.buscador{
    padding: 10px 20px 15px 20px;
}

ion-list{
    animation-duration: 0.50s;
}