.back{
    color: greenyellow;
    font-size: 35px;
}

.titulo{
    text-align: center;
    font-size: 30px;
    margin-bottom: 1rem;
}

.alive{
    color: green;
}

.dead{
    color: red;
}

.unknown{
    color: grey;
}

.fondo{
    background-image: url('../../../assets/img/bg.jpg');
    background-size: cover;
    background-repeat: repeat;
}

.link{
    text-decoration: none;
    color: greenyellow;
}

ion-col{
    animation-duration: 0.7s;
}