.back{
    color: greenyellow;
    font-size: 35px;
}

ion-content{
    --background: url('../../../assets/img/bg.jpg') no-repeat center center / cover;
}

ion-col{
    animation-duration: 0.7s;
}