<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="character-list">
      <ion-icon name="people"></ion-icon>
      <ion-label>Characters</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="location-list">
      <ion-icon name="planet"></ion-icon>
      <ion-label>Locations</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="episode-list">
      <ion-icon name="videocam"></ion-icon>
      <ion-label>Episodes</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
  
</ion-tabs>
