.titulo{
    text-align: center;
    font-size: 30px;
    margin-bottom: 1rem;
}

.alive{
    color: green;
}

.dead{
    color: red;
}

.unknown{
    color: grey;
}


.link{
    text-decoration: none;
    color: greenyellow;
}