<ion-header class="animate__animated animate__fadeIn">
  <ion-toolbar>
    <ion-title class="titulo">Rick & Morty Characters</ion-title>

    <ion-searchbar class="buscador" (keyup.enter)="searchCharacter(texto.value)" #texto></ion-searchbar>
  </ion-toolbar>
  
</ion-header>

<ion-content class="animate__animated animate__fadeIn">

  <ion-row class="fondo" *ngIf="characterList">
    <ion-col *ngFor="let character of characterList"  size="6"
            class="animate__animated animate__pulse">

      <ion-card (click)="characterDetails(character.id)">
        <ion-img [src]="character.image"></ion-img>

        <ion-card-content>
          <ion-card-title>
            {{ character.name }}
          </ion-card-title>

          <ion-card-subtitle class="mt-2">
            <ion-icon name="ellipse"
            [ngClass]="{
              'alive': character.status === 'Alive',
              'dead': character.status === 'Dead',
              'unknown': character.status === 'unknown'
            }"></ion-icon>
            {{ character.status }} - {{ character.species }}
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>