.back{
    color: greenyellow;
    font-size: 35px;
}

.alive{
    color: green;
}

.dead{
    color: red;
}

.unknown{
    color: grey;
}

.fondo{
    background-image: url('../../../assets/img/bg.jpg');
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
}

ion-col{
    animation-duration: 0.5s;
}